header{
    background-image: url("images/bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 110vh;
    background-color: white;
    border-radius: 0px 0px 0px 100px;
}
body{
    background-color: #F4F5F7;
}
.navigation{
    background-color: white;
}
.img-column{
    order: 1;
}
.header-text{
    width: 75%;
}
@media (max-width:768px) {
    .header{
        background-image: url("images/bg2.png");
        background-size: 100% auto;
        height: 80vh;
    }
    .img-column{
        order: 0;
    }
    .header-text{
        width: 100%;
    }
}
