.header{
    background-image: url("images/bg2.png");
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 80vh;
    background-color: white;
    border-radius: 0px 0px 0px 100px;
}
body{
    background-color: #F4F5F7;
}
.navigation{
    background-color: white;
}

.img-column{
    order: 0;
}
.header-text{
    width: 100%;
}

.about{
    background-color: white;
    border-radius: 0px 100px 0px 0px;
}

.language-img{
    width: 50px;
    height: 50px;
}
.arrow{
    width: 15px;
    height: 15px;
}

.uparrow{
    width: 32px;
    height: 32px;
}

@media (min-width:768px) {
    .header{
        background-image: url("images/bg.png");
        background-size: cover;
        height: 112vh;
    }
    .img-column{
        order: 1;
    }
    .header-text{
        width: 75%;
    }
    .language-img{
        width: 50px;
        height: 50px;
    }
    .arrow{
        width: 15px;
        height: 15px;
    }
    .uparrow{
        width: 32px;
        height: 32px;
    }

    .contact-form {
        background-image: url(images/contact-background\ \(1\).svg);
        background-repeat: no-repeat;
        background-size:100% auto;
    background-repeat: no-repeat;
    height: 80vh;
    background-color: white;
    border-radius: 100px 0px 0px 0px;

    }

    .contact-me {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        line-height: 52px;
    }
}
